USE [dbFsm]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[PublicoId] [nvarchar](100) NULL,
	[Nombre] [nvarchar](100) NULL,
	[TipoCliente] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadTecnicos]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadTecnicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Valor] [int] NULL,
 CONSTRAINT [PK_HabilidadesTecnicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesDeServicio]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesDeServicio](
	[Id] [uniqueidentifier] NOT NULL,
	[PublicoId] [nvarchar](100) NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[Estado] [int] NULL,
	[TecnicoId] [uniqueidentifier] NULL,
	[DescripcionIncidencia] [nvarchar](500) NULL,
	[FechaCreacion] [datetime] NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[CategoriaServicio] [int] NULL,
	[Prioridad] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[FechaDeAtencionEstimada] [datetime] NULL,
	[FechaDeAtencionReal] [datetime] NULL,
 CONSTRAINT [PK__OrdenDeS__3214EC07FD58DFDA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesDeServicioDetalle]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesDeServicioDetalle](
	[Id] [uniqueidentifier] NOT NULL,
	[OrdenDeServicioId] [uniqueidentifier] NOT NULL,
	[ServicioId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__OrdenDeS__3214EC079CA48DDE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [uniqueidentifier] NOT NULL,
	[PublicoId] [nvarchar](100) NULL,
	[Nombre] [nvarchar](100) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecnicos]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnicos](
	[Id] [uniqueidentifier] NOT NULL,
	[Cedula] [nvarchar](50) NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Especialidad] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Tecnicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCliente]    Script Date: 14/04/2025 7:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TipoCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Id], [PublicoId], [Nombre], [TipoCliente], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (N'8acd62fe-2d96-4f0d-38c0-08dd7b3b454b', N'CLI00000001', N'Prueba 1', 1, CAST(N'2025-04-14T05:01:05.210' AS DateTime), NULL, 1)
GO
INSERT [dbo].[OrdenesDeServicio] ([Id], [PublicoId], [ClienteId], [Estado], [TecnicoId], [DescripcionIncidencia], [FechaCreacion], [Ubicacion], [CategoriaServicio], [Prioridad], [FechaModificacion], [FechaDeAtencionEstimada], [FechaDeAtencionReal]) VALUES (N'b069f5cc-4ae1-4f05-fcb6-08dd7b49d3d0', N'00000001', N'8acd62fe-2d96-4f0d-38c0-08dd7b3b454b', 3, N'878c15a9-a638-47b2-0748-08dd7b1f7da3', N'pruebas', CAST(N'2025-04-14T06:47:24.387' AS DateTime), N'cl89', 1, 3, NULL, CAST(N'2025-04-27T06:47:24.387' AS DateTime), CAST(N'2025-04-14T06:47:24.387' AS DateTime))
INSERT [dbo].[OrdenesDeServicio] ([Id], [PublicoId], [ClienteId], [Estado], [TecnicoId], [DescripcionIncidencia], [FechaCreacion], [Ubicacion], [CategoriaServicio], [Prioridad], [FechaModificacion], [FechaDeAtencionEstimada], [FechaDeAtencionReal]) VALUES (N'07f035c9-ffec-444f-fcb7-08dd7b49d3d0', N'00000002', N'8acd62fe-2d96-4f0d-38c0-08dd7b3b454b', 2, N'878c15a9-a638-47b2-0748-08dd7b1f7da3', N'Prueba', CAST(N'2025-04-14T06:49:36.607' AS DateTime), N'cl 10', 1, 3, NULL, CAST(N'2025-04-27T06:49:36.607' AS DateTime), CAST(N'2025-04-14T07:04:11.293' AS DateTime))
GO
INSERT [dbo].[OrdenesDeServicioDetalle] ([Id], [OrdenDeServicioId], [ServicioId]) VALUES (N'284541b9-62ae-4be4-7221-08dd7b49d3d3', N'b069f5cc-4ae1-4f05-fcb6-08dd7b49d3d0', N'865aee61-a22f-41a8-46ff-08dd7b22c54a')
INSERT [dbo].[OrdenesDeServicioDetalle] ([Id], [OrdenDeServicioId], [ServicioId]) VALUES (N'8505e56e-b57f-4879-7222-08dd7b49d3d3', N'b069f5cc-4ae1-4f05-fcb6-08dd7b49d3d0', N'72da7376-2fd0-426f-4700-08dd7b22c54a')
INSERT [dbo].[OrdenesDeServicioDetalle] ([Id], [OrdenDeServicioId], [ServicioId]) VALUES (N'6c502db4-e84a-4d13-7223-08dd7b49d3d3', N'07f035c9-ffec-444f-fcb7-08dd7b49d3d0', N'865aee61-a22f-41a8-46ff-08dd7b22c54a')
GO
INSERT [dbo].[Servicios] ([Id], [PublicoId], [Nombre], [Estado]) VALUES (N'865aee61-a22f-41a8-46ff-08dd7b22c54a', N'00000001', N'Instalación de Climatización', 1)
INSERT [dbo].[Servicios] ([Id], [PublicoId], [Nombre], [Estado]) VALUES (N'72da7376-2fd0-426f-4700-08dd7b22c54a', N'00000002', N'Mantenimiento de Aire Acondicionado', 1)
INSERT [dbo].[Servicios] ([Id], [PublicoId], [Nombre], [Estado]) VALUES (N'3d5ced12-a49e-4c31-4701-08dd7b22c54a', N'00000003', N'Reparación de Calefacción', 1)
GO
INSERT [dbo].[Tecnicos] ([Id], [Cedula], [Nombre], [Apellido], [Especialidad], [Estado]) VALUES (N'878c15a9-a638-47b2-0748-08dd7b1f7da3', N'123456789', N'Carlos', N'Rodriguez', 1, 1)
INSERT [dbo].[Tecnicos] ([Id], [Cedula], [Nombre], [Apellido], [Especialidad], [Estado]) VALUES (N'52368831-1757-4994-0749-08dd7b1f7da3', N'987654321', N'Ana', N'Gomez', 2, 1)
INSERT [dbo].[Tecnicos] ([Id], [Cedula], [Nombre], [Apellido], [Especialidad], [Estado]) VALUES (N'fdb965e0-d10f-4791-074a-08dd7b1f7da3', N'456789123', N'Luis', N'Martinez', 3, 1)
GO
ALTER TABLE [dbo].[OrdenesDeServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDeServicio_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[OrdenesDeServicio] CHECK CONSTRAINT [FK_OrdenDeServicio_Cliente]
GO
